.cashback {
  padding: 30px 15px;
}

.cashback__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .cashback__text-block {} */

.cashback__title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.cashback__copy {
  margin-bottom: 10px;
}

.cashback__button {
  display: block;
  margin-top: 20px;
  width: 90vw;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #aaa;
  border-radius: 30px;
}


